body {
    background-color: rgb(255, 233, 205);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 100px;
}
div {
    font-size: 40pt;
    margin: 0;
    font-weight: bolder;
}